/* import google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");
/* this is are universal selector */
* {
  margin: 0;
  padding: 0;
  font-family: "Azeret Mono", monospace;
}
/* universal selector end  */

/* nav desgin start  */
.nav-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 38px;
  margin-bottom: 36px;
}

.nav-title {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 28px;
  font-weight: 800;
}

.nav-btn {
  text-decoration: none;
  padding: 17px 24px 17px 24px;
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
}
/* nav desgin end */

/* banner start  */
.banner-container {
  max-width: 1440px;
  height: 652px;
  background-image: url("../images/Hero-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.banner-context {
  width: 998px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 26px;
}

.banner-img-container {
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-img {
  width: 100%;
}

.banner-title {
  color: rgb(13, 19, 33);
  font-size: 36px;
  font-weight: 800;
  text-align: center;
  margin-top: 32px;
}

.banner-info {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-top: 24px;
}

.banner-btn {
  margin-top: 32px;
  border-radius: 8px;
  background: rgb(13, 19, 33);
  padding: 21px 24px 21px 24px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}
/* banner end  */

main {
  margin-top: 74px;
}

/* why web deve start  */
.why-web-container {
  /* margin-top: 74px; */
  max-width: 1140px;
  margin: 0 auto;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
  padding: 80px 97px 80px 97px;
}
.why-web-title {
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 24px;
}

.why-web-info {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  opacity: 0.7;
}
/* why web deve end  */
.why-web-cards-container {
  margin-top: 48px;
}

.card-container {
  width: 850px;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
  margin-bottom: 32px;
  padding: 48px;
  border-radius: 16px;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
}

.reverse-radius {
  background: linear-gradient(
    270deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
}

.card-title {
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 16px;
}

.card-info {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  opacity: 0.7;
  margin-bottom: 32px;
}

.card-btn {
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  padding: 12px 20px 12px 20px;
  text-decoration: none;
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.card-img-container {
  width: 260px;
}

.card-img {
  width: 100%;
}

/* why web cards end  */

/* inspiration start  */
.inspiration-container {
  width: 1140px;
  height: 775px;
  margin: 0 auto;
}

.inspiration-title {
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 24px;
  margin-top: 74px;
}

.inspiration-info {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  opacity: 0.7;
  margin-bottom: 48px;
}

.yt-video-container {
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
  padding: 32px;
  width: 1140px;
  height: 614px;
  margin: 0 auto;
}
.yt-video {
  width: 100%;
  height: 100%;
  border-radius: 16px;
}
/* inspiration end  */

/* current target start */
.current-target-container {
  margin-top: 150px;
}
.current-target-title,
.next-target-title {
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 24px;
}

.current-target-info,
.next-target-info {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.7;
  text-align: center;
  margin-bottom: 48px;
}

.current-target-cards-container {
  width: 1140px;
  height: 460px;
  margin-top: 48px;
  margin: 0 auto;
  display: flex;
  gap: 24px;
}

.current-target-card-contend {
  height: 299px;
  width: 364px;
  padding: 40px;
  border-radius: 16px;
  background: rgba(255, 76, 30, 0.05);
}

.current-target-card-img {
  margin-bottom: 24px;
}

.current-target-card-title,
.next-target-card-title {
  color: rgb(13, 19, 33);
  font-size: 24px;
  font-weight: 800;
  text-align: left;
  margin-bottom: 8px;
}

.current-target-card-info,
.next-target-card-info {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 24px;
}

.current-target-card-btn,
.next-target-card-btn {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  text-decoration-line: underline;
}

.custom-color-for-current-target-card-3 {
  background: rgba(255, 223, 0, 0.05);
}
.custom-color-for-current-target-card-2 {
  background: rgba(0, 76, 232, 0.05);
}
/* current target end */

/* next target start  */
.next-target-container {
  width: 1140px;
  height: 866px;
  margin: 0 auto;
}
.next-target-card-content {
  display: flex;
  align-items: center;
  gap: 24px;
  width: 1060px;
  height: 219px;
  padding: 40px;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  margin-bottom: 24px;
}
/* next target end  */
/* support start  */
.support-container {
  width: 1140px;
  height: 313px;
  background-image: url("../images/handshake.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  border-radius: 16px;
  margin: 0 auto;
  margin-top: 49px;
}

.support-content {
  padding: 64px 48px;
}

.support-title {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 16px;
}

.support-info {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  opacity: 0.7;
  margin-bottom: 24px;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.support-inp {
  padding: 16px;
  width: 548px;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;
  background: rgb(255, 255, 255);
}

.support-btn {
  padding: 16px;
  border-radius: 8px;
  background: rgb(255, 255, 255);
  text-decoration: none;
}
/* support end  */

/* footer start  */
.footer-container {
  width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 80px;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.03);
  padding: 32px 150px 32px 150px;
}

.footer-title {
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.fa-brands {
  font-size: 36px;
  margin-right: 24px;
}

.fa-facebook {
  color: blue;
}
.fa-linkedin {
  color: rgb(36, 167, 190);
}
.fa-github {
  color: rgb(22, 22, 20);
}
/* footer end  */
